
.opaque-navbar { 
  background-color: rgba(0, 0, 0, 0);
  Transition: background-color .5s ease-out 0s;
}
.opaque-navbar.opaque {
  background-color: #17244F;
  Transition:background-color .5s ease-out 0s; 
}
.sticky.navbar {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  } 
  .sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
.logo-img{
  float: left;
  margin: 0px 0px 0px;
}
.sc {
  top:0px;
  margin:auto;
}
.sc img {
  position:absolute;
  top:0;
  z-index: -1;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
.two {
  -webkit-animation-delay: -10s;
}
.three {
  -webkit-animation-delay: -5s;
}
.container2 {
  font-family: 'Cabin', sans-serif;
  height:200px;
  position: relative;
  top: 650px;
}
.main {
  transition: margin-left .5s;
  padding: 16px;
}
.navbar-custom {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  height: 65px;
}
.navbar-custom>li {
  display: inline-block;
}
@media (min-width:992px){
  .navbar li {
    margin-left : 2em;
    margin-right : 2em;
  }
}
@-webkit-keyframes linkfade {
  0% {text-decoration-color:white}
  50% {text-decortion-color:white}
  100% {text-decoration-color:gray}
}
.link {
  text-decoration: none;
  color: white;
}
.icon {
  text-decoration: none;
  color: white;
}
.icon:hover {
  text-decoration: none;
  color: white; 
}
.link:hover{
  text-decoration: none;
  color: white;
}
.link {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}
.link:before, .link:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}
.link:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:hover:before, a:hover:after, a:focus:before, a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.link:hover:before, a:focus:before {
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.link:hover:after, a:focus:after {
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 1000px) {
  div.example {
    opacity: 0;
  }
}
#example { 
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  div#nav-icon3 {
    opacity: 1;
  }
}
#nav-icon3 {
  opacity: 0;
  width: 30px;
  position: absolute; right: 0; bottom: 0; 
  margin-right: 30px;
  margin-bottom: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background:white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 6px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg); 
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
@media screen and (max-width: 600px) {
  .navbar-custom.responsive {position: relative;}
  .navbar-custom.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-custom.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
