
.opaque-navbar { 
  background-color: rgba(0, 0, 0, 0);
  Transition: background-color .5s ease-out 0s;
}
.opaque-navbar.opaque {
  background-color: #17244F;
  Transition:background-color .5s ease-out 0s; 
}
.sticky.navbar {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  } 
  .sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
.logo-img{
}
.sc {
  top:0px;
  margin:auto;
}
.sc img {
  position:absolute;
  top:0;
  z-index: -1;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
.two {
  -webkit-animation-delay: -10s;
}
.three {
  -webkit-animation-delay: -5s;
}
.container2 {
  height:200px;
position: relative;
  top: 650px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.container {
  display: inline-block;
  cursor: pointer;
}
